@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .btn-feedback:first-child {
    margin-left: 0px;
  }
}

.feedback {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.feedback-title {
  font-weight: bold;
}

.btn-item {
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: 7px;
}

.feedback-btns {
  margin: 5px 0;
  display: flex;
}

.btn-item:hover {
  font-weight: bold;
  transform: scale(1.1);
  transition: 0.3s;
}

.btn-item:nth-child(1):hover {
  color: #f5cc18;
}

.btn-item:nth-child(2):hover {
  color: #E01B1B;
}
.btn-item:nth-child(3):hover {
  color: #591fb6;
}
.btn-item:nth-child(4):hover {
  color: #2395d6;
}
.btn-item:nth-child(5):hover {
  color: #91b13b;
}
