@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(55, 53, 47);
  caret-color: rgb(55, 53, 47);
  background-color: var(--bg-color);
}

.loadingIcon {
  animation: spinner 0.6s linear infinite;
  display: block;
  width: 24px;
  height: 24px;
  color: rgba(55, 53, 47, 0.4);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImage {
  max-width: 100%;
  width: 640px;
}
/* Footer Styles */
.footerContainer {
  width: 100%;
  background-color: #0f0f10; /* Dark background */
  color: #ffffff;           /* White text */
  padding: 3rem 4rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Top Section */
.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
}

.footerTop h2 {
  font-size: 1.75rem;
  font-weight: 500;
  max-width: 500px;
  line-height: 1.4;
  font-family: 'Tobias';
}



/* Footer Columns */
/* .footerColumns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
} */

.footerColumns {
  display: grid;
  grid-template-columns: 4;
  width: 100%;
  margin-bottom: 2rem;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  min-width: 180px;
  justify-content: right;
  border-right: #ffffff;
  gap: 1rem;
}




.footerRow {
  display: grid;
  grid-template-columns: auto auto;
  width: 50%;
  flex-direction: row;
  min-width: 180px;
}



.footerCol a {
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: small;
  font-weight: lighter;  
  display: flex;
  width: 100%;
  padding-right: 10px;
}

.footerCol a:hover {
  text-decoration: underline;
}

.footerCol div{
  margin-bottom: 0.5rem;
  font-size: small;
  font-weight: lighter;
}

.footerColTitle {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #D4CBAD;
}


/* Bottom Section */
.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #333;
  padding-top: 1rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
  .footerBottom {
    display: flex;
    flex-direction: column;
  }

  .footerBottomLeft {
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  .footerTop {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
  

  .footerRow {
    width: 100%;
    gap: 0.75rem;
  }

  .footerContainer {
    padding: 2rem 3rem;
  }
}


@media screen and (max-width: 350px) {
  .footerLinks {
    display: grid;
    grid-template-columns: auto auto;
  }

  .footerRow {
    display: none;
  }
}


.footerBottomLeft {
  display: flex;
  font-weight: bold;
  font-family: 'Tobias';
  font-size: large;
  gap: 5px;
}

.footerLinks a {
  color: #ffffff;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}



.footerForm {
  display: flex;
  align-items: center;
  background-color: #e6e2d6;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  background-color: #E5E1D3;
  border-radius: 8px;
}


.footerForm :focus{
  outline: none;
}

.footerInput {
  background-color: #E5E1D3;
  border-radius: 8px;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 100%;

}


.footerButton {
  background-color: #d6ceb8;
  padding: 10px 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footerButton:hover {
  background-color: #c4baa3;
}

.arrowIcon {
  color: #333;
  width: 18px;
  height: 18px;
}

/* END FOOTER STYLES */




/* UPDATE NOTICE STYLES */
.UpdateParent {
  display: flex;
  flex-direction: row;
  background-color: rgb(231, 231, 231);
  color: white;
  height: 1px;
  border-radius: 10px;
  text-align: left;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
}

.UpdateParent h1 {
  font-size: 1.5rem;
  font-family: 'UntitledSans', sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.UpdateParent .cursive {
  font-family: 'Tobias', serif;
}

.UpdateParent p {
  font-size: 0.7rem;
  font-family: 'UntitledSans', sans-serif;
}

.UpdateParent button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 5px 20px;
  font-size: 0.9rem;
  font-family: 'Tobias', serif;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 160px;
  height: 40px;
  white-space: nowrap;
  margin-left: 1.5rem;
  justify-self: center;
}

@media (max-width: 800px) {
  .UpdateParent {
    flex-direction: column;
    width: 100%;
  }

  .UpdateParent h1 {
    line-height: 130%;
    font-size: 1rem;
  }

  .UpdateParent button {
    margin-left: 0;
  }
}
/* END UPDATE NOTICE STYLES */





.UpdateNoticeBanner {
  display: flex;
  justify-content: center;
  font-size: 12px;
  background-color: #17221c;
  color: white;
  padding: 1rem;
  width: 100%;
  text-align: center;
  /* justify-content: space-between; */
  gap: 1rem;
}

.UpdateNoticeBanner button {
  outline: none;
  color: white;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
}

.UpdateNoticeBanner .textContent {
  flex: 1;
  text-align: center;
}

.UpdateNoticeBanner a {
  color: white;
}


.copyright {
  font-size: 80%;
  padding: 0.5em;
}

.settings,
.social {
  user-select: none;
}

.settings a,
.social a {
  cursor: pointer;
  font-size: 2em;
  display: inline-flex;
  padding: 0.25em;
  margin-right: 1vw;
  transition: color 250ms ease-out;
}

.settings a:last-of-type,
.social a:last-of-type {
  margin-right: 0;
}

.settings a:hover,
.social a:hover {
  transition: color 50ms ease-out;
}

.toggleDarkMode:hover {
  color: #2795e9;
}

.twitter:hover {
  color: #2795e9;
}

.mastodon:hover {
  color: #5a4be1;
}

.zhihu:hover {
  color: #0066ff;
}

.github:hover {
  color: #c9510c;
}

.youtube:hover {
  color: #ff0000;
}

.linkedin:hover {
  color: #0077b5;
}

.newsletter:hover {
  color: #777777;
}

.comments {
  width: 100%;
  margin-top: 2em;
  border-top: 1px solid var(--fg-color-0);
}

@media only screen and (max-width: 566px) {
  .footer {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    row-gap: 1em;
  }

  .UpdateNoticeBanner {
    font-size: xx-small;
  }

  .footerContainer {
    padding: 2rem 2rem;
  }

  /* .footer > div {
    margin-top: 1em;
  } */

  .footer .settings {
    order: 2;
  }
  .footer .social {
    order: 1;
  }
  .footer .copyright {
    order: 3;
    text-align: center;
    width: 100%;
  }
  .settings a,
  .social a {
    font-size: 1.5rem;
  }
}








.pageActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 12px 12px;
}

.pageActions a {
  cursor: pointer;
  font-size: 24px;
  display: inline-flex;
  padding: 12px;
  margin-right: 1vw;
  border-radius: 50%;
  background: transparent;
  transition: all 250ms ease-out;
}

.pageActions a:last-of-type {
  margin-right: 0;
}

.pageActions a:hover {
  transition: all 50ms ease-out;
}

.likeTweet:hover {
  background: #f6e3e8;
  color: #e0265e;
}

.retweet:hover {
  color: #19bf64;
  background: #e5f2e8;
}

@media (max-width: 1360px) {
  .githubCorner {
    display: none;
  }
}

.githubCorner:hover .octoArm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .githubCorner:hover .octoArm {
    animation: none;
  }

  .githubCorner .octoArm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.hidden {
  visibility: hidden;
}

