/* Import custom fonts from local directory */
@font-face {
  font-family: 'Tektur';
  src: url('/fonts/Tektur-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tektur';
  src: url('/fonts/Tektur-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tektur';
  src: url('/fonts/Tektur-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tektur';
  src: url('/fonts/Tektur-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Box model adjustments for all elements */
* {
  box-sizing: border-box;
}

/* Anchor tag styling */
a {
  color: inherit;
  text-decoration: none;
}

/* Reset margins and padding for body and html */
body,
html {
  padding: 0;
  margin: 0;
}

/* Body styling with updated font families */
body {
  --notion-font: 'Urbanist', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif;
  --font-tektur: 'Tektur', sans-serif;
  --font-urbanist: 'Urbanist', sans-serif;
  font-family: var(--notion-font); /* Applies Urbanist by default */
  overflow-x: hidden;
}

/* Heading styles using Tektur font */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-tektur); /* Apply Tektur to headings */
}

/* Paragraph styles using Urbanist font */
p {
  font-family: var(--font-urbanist); /* Apply Urbanist to paragraphs */
}

/* Static tweet blockquote adjustments */
.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Emoji size adjustments for static tweet emojis */
.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

/* Search input styling */
.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--bg-color-1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--fg-color-1);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
