@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

code {
  font-family: 'Fira Code', monospace;
}

.mermaid-container {
  /* background-color: aqua; */
  width: 100%;
}

@supports (font-variation-settings: normal) {
  code {
    font-family: 'Fira Code VF', monospace;
  }
}
