:root { --header: 45px; }
.dark-mode .notion-frame > header { background: #00000080 }
.dark-mode .notion-h-title { color: #e0e0e0; }
.dark-mode .notion-header .breadcrumb{color:#9e9e9e}
.dark-mode{ --bg-color: #202020 }
.notion-app { overflow: initial; }
.notion-asset-wrapper-image { pointer-events: none; }
.notion-cursor-listener { padding: 0; }
.notion-frame > header { background: #ffffff80 }
.notion-frame > header { position: fixed; backdrop-filter: blur(24px); -webkit-backdrop-filter: blur(24px); top: 0; /* background: #ffffff80; */ }
.notion-frame{padding:0}
.notion-h-title { color: #202020; }
.notion-h1, .notion-h2, .notion-h3, .notion-h4, .notion-h5, .notion-h6 { padding-top: var(--header); }
.notion-header .breadcrumb.active{color:inherit}
.notion-header .breadcrumb{color:#808080}
.notion-header .breadcrumbs *{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notion-page { box-shadow: 0 0 96px 0 #00000020; border-radius: 8px}
.notion-page-no-cover{margin-top: calc(1px + var(--header)) !important}
.notion-page-offset { margin-top: calc(1 * var(--header)); }
.notion-page-scroller { overflow: visible; }
.notion-table-of-contents { margin: 0; }
.notion-title { display: none; }
.notion{font-family:"Ubiquity Nova", serif}
@media (orientation: landscape) { details.notion-toggle, .notion-page { left: 0; padding: 48px; max-width: 1280px; transition: 4s box-shadow; } details.notion-toggle { /* background: #ffffff80; */ position: fixed; top: 0; top: var(--header); box-shadow: -96px 0 96px 0 #00000018; margin-left: 6.25vw; width: 18.75vw; height: calc(100% - var(--header)); transform: translateY(25%); max-height: calc(100vh - var(--header)); overflow: scroll; } .notion-page { min-height: calc(100% - calc(2 * var(--header))); /* background: #fff; */ /* margin-left: calc(6.25vw * 4); */ width: 75vw; /* height: auto; */ /* display: block; */ } }
@media (orientation: portrait) { .notion-page { padding: 48px; width: 75vw; min-width: 320px; } }
@media (orientation: landscape) and (max-width: 960px) { details.notion-toggle { /* width: auto; */ /* margin: 0; */ /* background: black; */ width: 25vw; margin: 0; /* padding: 0; */ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-right: 0; } }
@media (max-width: 960px) { .notion-page { padding: 16px; /* width: 75vw; */ width: 100%; min-width: 320px; /* max-width: 75vw; */ /* background: red; */ /* margin: 0; */ } }
/* .notion-header{background:initial} */
body { overflow-y: initial; }
details.notion-toggle > div { margin-left: 0; }
details.notion-toggle > summary { margin-bottom: 4px; }
html{background:#202020}
img { max-width: 75vw !important; object-fit: cover; }
img.lazy-image-preview, img.lazy-image-real { aspect-ratio: auto; }

.notion-page-no-cover.notion-page-no-icon{padding-top:48px}
.notion-h1, .notion-h2, .notion-h3, .notion-h4, .notion-h5, .notion-h6{padding-top:initial}
.notion-page-icon-wrapper{text-align:right;display:block;}
.notion-page-icon-wrapper span.notion-page-icon{width:100%;opacity:.25;padding:78px;text-align:right;margin:auto;max-width:initial}