.wreath-background {
    width: 100vw; height: 100vh;
    background-image: url('/wreath.jpg');
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size:"auto 100%";
    background-position:"center";
  }
  .wreath-countdown-contents {
    position: relative;
  }